{% macro navigation(ctx, page_name, sector_name) %}

	<nav class="navbar navbar-default">



	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/{{ lang }}">CLIMA</a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	            <ul class="nav navbar-nav">
	                <li><a href="/{{ lang }}">Home</a>
	                </li>

	                <li class="{% if page_name=='introducao' %}active{% endif %}" ><a href="/{{ lang }}/introducao">Introdução</a>
	                </li>

	                <li class="{% if page_name=='mapa' %}active{% endif %}"><a href="/{{ lang }}/mapa">Mapa de vulnerabilidades</a>
	                </li>

	                <li class="dropdown {% if page_name=='sectores' %}active{% endif %}">
	                    <a href="/{{ lang }}/sectores" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Informação Sectorial <span class="caret"></span></a>
	                    <ul class="dropdown-menu" role="menu">
	                        <li class="{% if page_name=='sectores' and not sector_name %}active{% endif %}"><a href="/{{ lang }}/sectores">Introdução</a>
	                        </li>

							<li class="divider"></li>

	                        <li class="{% if sector_name=='biodiversidade' %}active{% endif %}"><a href="/{{ lang }}/sectores/biodiversidade">Biodiversidade</a>
	                        </li>

	                        <li class="{% if sector_name=='recursos-hidricos' %}active{% endif %}"><a href="/{{ lang }}/sectores/recursos-hidricos">Recursos Hídricos</a>
	                        </li>

	                        <li class="{% if sector_name=='saude' %}active{% endif %}"><a href="/{{ lang }}/sectores/saude">Saúde</a>
	                        </li>

	                        <li class="{% if sector_name=='turismo' %}active{% endif %}"><a href="/{{ lang }}/sectores/turismo">Turismo</a>
	                        </li>

	                        <li class="{% if sector_name=='agricultura-florestas' %}active{% endif %}"><a href="/{{ lang }}/sectores/agricultura-florestas">Agricultura e Florestas</a>
	                        </li>

	                        <li class="{% if sector_name=='energia' %}active{% endif %}"><a href="/{{ lang }}/sectores/energia">Energia</a>
	                        </li>
	                    </ul>
	                </li>

	                <li class="{% if page_name=='adaptacao' %}active{% endif %}"><a href="/{{ lang }}/adaptacao">Estratégia de Adaptação</a>
	                </li>

	                <li class="{% if page_name=='ferramenta' %}active{% endif %}"><a href="/{{ lang }}/ferramenta">Ferramenta de Apoio à Decisão</a>
	                </li>

	                <li class="{% if page_name=='equipa' %}active{% endif %}"><a href="/{{ lang }}/equipa">Equipa</a>
	                </li>
	            </ul>

	            <form class="navbar-form navbar-right" role="search">

						<div class="input-group">
							<input type="text" class="form-control" placeholder="{{ ctx.texts[5][lang] }}">
							<span class="input-group-addon search-box"><span class="glyphicon glyphicon-search"></span></span>
						</div>

	            </form>

           
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container-fluid -->
	</nav>

{% endmacro %}
