{% macro navigation(ctx, page_name, sector_name) %}

	<nav class="navbar navbar-default">


	    <div class="container-fluid">
	        <!-- Brand and toggle get grouped for better mobile display -->
	        <div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-bar">
	                <span class="sr-only">Toggle navigation</span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	                <span class="icon-bar"></span>
	            </button>
	            <a class="navbar-brand" href="/{{ lang }}" style="padding-left: 30px; padding-right: 30px;">
	            	
	            	{{ ctx.texts[0]["pt"] }}
	            </a>
	        </div>

	        <!-- Collect the nav links, forms, and other content for toggling -->
	        <div class="collapse navbar-collapse" id="top-bar">
	            <ul class="nav navbar-nav">

	                <li class="{% if page_name=='introducao' %}active{% endif %} nav-border-left"><a href="/{{ lang }}/introducao">{{ ctx.texts[17][lang] }}</a>
	                </li>

					{# dropdown with the 6 sectors #}
	                <li class="dropdown {% if page_name=='sectores' %}active{% endif %} nav-border-left">
	                    <a href="/{{ lang }}/sectores" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ ctx.texts[23][lang] }} <span class="caret"></span></a>
	                    <ul class="dropdown-menu" role="menu">
{#
	                        <li class="{% if page_name=='sectores' and not sector_name %}active{% endif %}"><a href="/{{ lang }}/sectores">Introdução</a>
	                        </li>

							<li class="divider"></li>
#}
	                        <li class="{% if sector_name=='biodiversidade' %}active{% endif %}"><a href="/{{ lang }}/sectores/biodiversidade">{{ ctx.texts[33][lang] }}</a>
	                        </li>

	                        <li class="{% if sector_name=='recursos-hidricos' %}active{% endif %}"><a href="/{{ lang }}/sectores/recursos-hidricos">{{ ctx.texts[37][lang] }}</a>
	                        </li>

	                        <li class="{% if sector_name=='saude' %}active{% endif %}"><a href="/{{ lang }}/sectores/saude">{{ ctx.texts[41][lang] }}</a>
	                        </li>

	                        <li class="{% if sector_name=='turismo' %}active{% endif %}"><a href="/{{ lang }}/sectores/turismo">{{ ctx.texts[45][lang] }}</a>
	                        </li>

	                        <li class="{% if sector_name=='agricultura-florestas' %}active{% endif %}"><a href="/{{ lang }}/sectores/agricultura-florestas">{{ ctx.texts[49][lang] }}</a>
	                        </li>

	                        <li class="{% if sector_name=='energia' %}active{% endif %}"><a href="/{{ lang }}/sectores/energia">{{ ctx.texts[53][lang] }}</a>
	                        </li>
	                    </ul>
	                </li>

	                <li class="{% if page_name=='cartografia' %}active{% endif %} nav-border-left"><a href="/{{ lang }}/cartografia">{{ ctx.texts[19][lang] }}</a>
	                </li>

	                <li class="{% if page_name=='adaptacao' %}active{% endif %} nav-border-left"><a href="/{{ lang }}/adaptacao">{{ ctx.texts[20][lang] }}</a>
	                </li>

	                <li class="{% if page_name=='equipa' %}active{% endif %} nav-border-left nav-border-right"><a href="/{{ lang }}/equipa">{{ ctx.texts[21][lang] }}</a>
	                </li>

	            </ul>

{#
	            <form class="navbar-form navbar-right" role="search">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="{{ ctx.texts[5][lang] }}">
							<span class="input-group-addon search-box"><span class="glyphicon glyphicon-search"></span></span>
						</div>
	            </form>
#}

	            <ul class="nav navbar-nav navbar-right">
	
		            <li style="margin-left: 15px;">

						{# set the correct icon and tooltip relative to the login/logout button #}
		            	{% if ctx.auth.isAuthenticated %}

		            		{% set dashboard_id = "js-logout-nav" %} 
		            		{% set dashboard_icon_class = "glyphicon-log-out" %} 

		            		{% if lang == "pt" %}
			            		{% set dashboard_tooltip = "Clique para terminar a sessão" %} 
		            		{% else %}
			            		{% set dashboard_tooltip = "Click to log out from the session" %} 
		            		{% endif %}

		            	{% else %}

		            		{% set dashboard_id = "js-login-nav" %} 
		            		{% set dashboard_icon_class = "glyphicon-user" %} 

		            		{% if lang == "pt" %}
			            		{% set dashboard_tooltip = "Área reservada" %} 
		            		{% else %}
			            		{% set dashboard_tooltip = "Reserved area" %} 
		            		{% endif %}

		            	{% endif %}

		            	<button type="button" class="btn btn-default navbar-btn" id="{{ dashboard_id }}" data-toggle="tooltip" data-placement="bottom" title="{{ dashboard_tooltip }}">
		            		<span class="glyphicon {{ dashboard_icon_class }}"></span> 
		            	</button>



						{# set the correct icon (flag) and tooltip relative to the language button #}
		            	{% if lang == "pt" %}
		            		{% set language_icon_class = "flag-icon-gb"    %} 
		            		{% set language_tooltip    = "Read in english" %} 
		            	{% else %}
		            		{% set language_icon_class = "flag-icon-pt"     %} 
		            		{% set language_tooltip    = "Ler em português" %} 
		            	{% endif %}

	            		<button type="button" class="btn btn-default navbar-btn" id="js-lang-nav" data-toggle="tooltip" data-placement="bottom" title="{{ language_tooltip }}">
	            			<span class="flag-icon {{ language_icon_class }}"></span>
	            		</button>

		            </li>

{# set the correct icon (flag) and tooltip relative to the language button #}
{#
		            <li>

						
		            	{% if lang == "pt" %}
		            		{% set language_icon_class = "flag-icon-gb"    %} 
		            		{% set language_tooltip    = "Read in english" %} 
		            	{% else %}
		            		{% set language_icon_class = "flag-icon-pt"     %} 
		            		{% set language_tooltip    = "Ler em português" %} 
		            	{% endif %}

	            		<button type="button" class="btn btn-default navbar-btn" id="js-lang-nav" data-toggle="tooltip" data-placement="bottom" title="{{ language_tooltip }}">
	            			<span class="flag-icon {{ language_icon_class }}"></span>
	            		</button>

		            </li>
#}

	            </ul>

           
	        </div>
	        <!-- /.navbar-collapse -->
	    </div>
	    <!-- /.container-fluid -->
	</nav>

{% endmacro %}
