
{% macro sector(titleId, sectorDescId, sectorPathId, sectorImgId, ctx) %}

<div class="sector-box">
	<h4 class="text-center sector-title is-editable" data-text-id="{{ titleId }}">{{ ctx.texts[titleId][lang] | upper }}</h4>
	<img src="{{ ctx.texts[sectorImgId][lang] }}" class="img-responsive img-thumbnail center-block" alt="Responsive image">
	<p class="is-editable" data-text-id="{{ sectorDescId }}">{{ ctx.texts[sectorDescId][lang] }}</p>
	<div class="text-center">
		<a href="/{{lang}}{{ ctx.texts[sectorPathId][lang] }}" class="btn btn-info" style="padding: 4px 30px; letter-spacing: 1px;" role="button">
			<span class="is-editable" data-text-id="6">{{ ctx.texts[6][lang] }}</span>
		</a>
	</div>
</div>

{% endmacro %}