<div class="table-responsive">
    <table class="table table-striped">

        <thead>
            <tr>
                <th class="col-sm-1">id</th>
                <th class="col-sm-3">pt</th>
                <th class="col-sm-3">en</th>
                <th class="col-sm-2">Author</th>
                <th class="col-sm-2">Last Update</th>
                <th class="col-sm-1"></th>
            </tr>
        </thead>

        <tbody>
        </tbody>

    </table>
</div>

<p class="text-center">
    <button type="button" class="btn btn-primary btn-lg" id="update-texts">
        &nbsp;&nbsp;Save&nbsp;&nbsp;
    </button>
</p>
