<div class="modal-header">
    <h4 class="modal-title">Edit control #{{ id }}</h4>
</div>


<div class="modal-body">

    <form>

        <div class="form-group">
            <label for="js-select-period">Select the period</label>
            <select id="js-select-period" name="period" class="form-control">
                <option value="none">None</option>
                <option value="reference">Reference</option>
                <option value="short">Short</option>
                <option value="medium">Medium</option>
                <option value="long">Long</option>
            </select>
        </div>

        <div class="form-group">
            <label for="js-select-play-btn">Show play button in this control (<span class="glyphicon glyphicon-play" aria-hidden="true"></span>)</label>
            <select id="js-select-play-btn" name="showPlayButton" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
        </div>


        <h4>Data columns</h4>

        <p>Choose the columns to be used for this control</p>

        {% for shape in availableShapes %}

        <strong>Shape #{{ loop.index }}</strong> (code: {{ shape.code }})
    
        <div class="xtable-responsive">
            <table class="table table-condensedx table-hover table-dashboard">

                <thead>
                    <tr>
                        <th style="width: 10%"></th>
                        <th style="width: 30%">Column name</th>
                        <th style="width: 30%">Column type</th>
                        <th style="width: 30%">Public name</th>
                    </tr>
                </thead>

                <tbody>
                    {% for column in shape.shapeColumnsData %}
                        <tr class="js-shape-row">
                            <td><input type="checkbox" name="{{ shape.id }}[{{ column.column_number }}][isSelected]"></td>
                            <td class="xjs-file-id">{{ column.column_name }}</td>
                            <td>{{ column.data_type }}</td>
                            <td><input type="text" name="{{ shape.id }}[{{ column.column_number }}][publicName]"></td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>

        <hr>

        {% endfor %}

    </form>


</div>

<div class="modal-footer">
{#    <button type="button" class="btn btn-primary js-modal-save">Gravar</button>  #}
    <button type="button" class="btn btn-default js-modal-apply">Apply</button>

    <div id="message-status" style="margin-top: 35px;"></div>
    <div id="" style="margin-top: 10px;">
        <h5 id="message-links"></h5>
    </div>
</div>
