<ul class="nav nav-tabs">
    <li role="presentation" class="active">
        <a href="#" class="js-dashboard-sep" data-tab-separator="shapes-all">Todos os shapes</a>
    </li>
    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="shapes-new">Carregar shape</a>
    </li>

    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="maps-all">Todos os mapas</a>
    </li>
    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="maps-new">Carregar mapa</a>
    </li>
</ul>

<div id="maps-region"></div>