<div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="padding-top: 20px;">

        <h4 class="text-center">Criar um novo mapa</h4>
        <form style="margin-top: 40px;">

			<div class="row">

				<div class="col-sm-5">
		            <div class="form-group">
		                <label for="js-new-map-code">Map code</label>
		                <input type="text" id="js-new-map-code" class="form-control" name="code">
		            </div>
				</div>

				<div class="col-sm-7">
		            <div class="form-group">
		                <label for="js-new-map-category">Map category</label>

                        <select name="categoryId" class="form-control">

                        {% for obj in mapCategories %}
                            <option value={{ obj.id }}>
                                {{ obj.contents.en }}
                            </option>
                        {% endfor %}
                        
                        </select>

		            </div>
				</div>

            </div>

            <div class="form-group">
                <label for="js-new-map-title-pt">Map title (portuguese)</label>
                <input type="text" id="js-new-map-title-pt" class="form-control" name="title[pt]" >
            </div>
            <div class="form-group">
                <label for="js-new-map-title-en">Map title (english)</label>
                <input type="text" id="js-new-map-title-en" class="form-control" name="title[en]" >
            </div>

            <hr>

            <h4>Data sources (loaded shapes)</h4>

            <div class="xtable-responsive">
                <table class="table table-stripedx table-hover table-condensed table-dashboard">

                    <thead>
                        <tr>
                            <th style="width: 5%"></th>
                            <th style="width: 15%">Shape id</th>
                            <th style="width: 40%">Shape code</th>
                            <th style="width: 15%">Shape srid</th>
                            <th style="width: 25%">Owner</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for obj in availableShapes %}
                            <tr class="js-shape-row">
                                <td><input type="checkbox" name="selectedShapes[{{ obj.id }}]"></td>
                                <td>{{ obj.id }}</td>
                                <td>{{ obj.code }}</td>
                                <td>{{ obj.srid }}</td>
                                <td>{{ obj.ownerData.firstName }} {{ obj.ownerData.lastName }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>

        </form>


 



        <div class="row" style="margin-top: 20px;">
        	<div class="col-sm-6 col-sm-offset-3">
            	<button type="button" class="btn btn-primary btn-block js-save">Create map</button>
            </div>
        </div>

    </div>
</div>
