<ul class="nav nav-tabs">

{# - removed!
    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="shapes-new">Carregar novo shape</a>
    </li>
#}

    <li role="presentation" class="active">
        <a href="#" class="js-dashboard-sep" data-tab-separator="maps-all">Todos os mapas</a>
    </li>

    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="maps-new">Criar novo mapa</a>
    </li>

    <li role="presentation">
        <a href="#" class="js-dashboard-sep" data-tab-separator="shapes-all">Todos os shapes</a>
    </li>

</ul>

<div id="maps-region"></div>