<div class="btn-toolbar" role="toolbar" id="seasons-toolbar">

    <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default">
            <input type="radio" name="options" id="option-0" autocomplete="off"> Anual
        </label>
        <label class="btn btn-default">
            <input type="radio" name="options" id="option-1" autocomplete="off"> Inverno
        </label>
        <label class="btn btn-default">
            <input type="radio" name="options" id="option-2" autocomplete="off"> Primavera
        </label>
        <label class="btn btn-default">
            <input type="radio" name="options" id="option-3" autocomplete="off"> Verão
        </label>
        <label class="btn btn-default">
            <input type="radio" name="options" id="option-4" autocomplete="off"> Outono
        </label>
    </div>


	<div class="btn-group" role="group">
	    <button type="button" class="btn btn-primary" id="js-periods-play">
	        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
	    </button>
	</div>


</div>
