{% extends "layouts/default.html"  %}


{% block content %}


	{#  ---------------------------------------  HEADER  ---------------------------------------  #} 

	{% include "includes/header_landing.html" %}  

	{#  ---------------------------------------  /HEADER  ---------------------------------------  #} 


	<div class="row" >

		<div class="col-sm-12" style="margin-top:50px; margin-bottom:150px; ">
			<h1 class="text-center">
				{{ ctx.texts.fixed.comingSoon[global_locale] }}
			</h1>
		</div>
	</div>


{% endblock %}