{#  NOTE: lang is a global variable #}
{% extends "layouts/default.html"          %}
{% from "macros/navigation.html" import navigation %}
{% set page_name = "equipa" %}

{% block title %}{{ ctx.texts[15][lang] }} - equipa{% endblock %} 


{% block navigation %}

{{ navigation(ctx, page_name) }}

{% endblock %}

{% block content %}


<div class="row">
    <div class="hidden-xs col-sm-2 col-md-2 side-column" style=""></div>
    <div class="col-xs-12 col-sm-8 col-md-8 " id="main-content" style="z-index: 999; padding: 20px 30px 20px 30px; box-shadow: 0 0 60px rgba(0,0,0,0.15);">

		{{ navigation(ctx, page_name, sector_name) }}


		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">
				<h3>Coordenação</h3>
			</div>

		</div>


		<div class="row">

			<div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
				<img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail" >
			</div>

			<div class="col-sm-8">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro debitis non, a laudantium labore qui in soluta quos maxime voluptatibus voluptate quas sit natus explicabo facilis rerum enim doloribus adipisci!</p>
			</div>

		</div>

		<div class="row" style="margin-top: 30px;">

			<div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
				<img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail" >
			</div>

			<div class="col-sm-8">
				<h4>Tempora voluptas</h4>
				<p>Consectetur adipisicing elit. Tenetur eveniet officiis rerum consectetur laboriosam ea voluptatum aut, eligendi minus, in repellendus, possimus impedit architecto? Reprehenderit impedit magni commodi laudantium consectetur.</p>
			</div>

		</div>

		<hr>

		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">
				<h3>Equipa sectorial: Biodiversidade</h3>
			</div>

		</div>


		<div class="row">

			<div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
				<img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail" >
			</div>

			<div class="col-sm-8">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro debitis non, a laudantium labore qui in soluta quos maxime voluptatibus voluptate quas sit natus explicabo facilis rerum enim doloribus adipisci!</p>
			</div>

		</div>

		<div class="row" style="margin-top: 30px;">

			<div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
				<img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail" >
			</div>

			<div class="col-sm-8">
				<h4>Tempora voluptas</h4>
				<p>Consectetur adipisicing elit. Tenetur eveniet officiis rerum consectetur laboriosam ea voluptatum aut, eligendi minus, in repellendus, possimus impedit architecto? Reprehenderit impedit magni commodi laudantium consectetur.</p>
			</div>

		</div>


		<hr>

		<div class="row">

			<div class="col-sm-10 col-sm-offset-1">
				<h3>Equipa sectorial: Energia</h3>
			</div>

		</div>

		<div class="row">

			<div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
				<img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail" >
			</div>

			<div class="col-sm-8">
				<h4>Lorem ipsum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro debitis non, a laudantium labore qui in soluta quos maxime voluptatibus voluptate quas sit natus explicabo facilis rerum enim doloribus adipisci!</p>
			</div>

		</div>

		<div class="row" style="margin-top: 30px;">

			<div class="col-sm-2 col-sm-offset-1" style="padding-top: 5px;">
				<img src="/uploads/public/images/placeholders/200x200.gif" width="100px" alt="..." class="img-thumbnail" >
			</div>

			<div class="col-sm-8">
				<h4>Tempora voluptas</h4>
				<p>Consectetur adipisicing elit. Tenetur eveniet officiis rerum consectetur laboriosam ea voluptatum aut, eligendi minus, in repellendus, possimus impedit architecto? Reprehenderit impedit magni commodi laudantium consectetur.</p>
			</div>

		</div>

    </div>
    <div class="hidden-xs col-sm-2 col-md-2 side-column" style=""></div>
</div>






{% endblock %}


