{#  NOTE: lang is a global variable #}
{% extends "layouts/default.html"          %}
{% from "macros/navigation.html" import navigation %}
{% set page_name = "ferramenta" %}

{% block title %}{{ ctx.texts[15][lang] }} - Ferramenta{% endblock %} 

{% block css %}

	<link href="/common/js/leaflet-0.7.3/leaflet.css" rel="stylesheet" />
	<link href="/common/css/font-awesome.css" rel="stylesheet" />
	<link href="/ferramenta/css/leaflet-sidebar.css" rel="stylesheet" />
	<link href="/ferramenta/css/leaflet.contextmenu.css" rel="stylesheet" />

{% endblock %}


{% block navigation %}

  {{ navigation(ctx, page_name) }}  

{% endblock %}


{% block content %}

<div id="sidebar">
    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>

    <h1>leaflet-sidebar</h1>
   <p>fwefwifnw oifw</p>
</div>

<!-- <div class="row">
    <div class="col-sm-12 text-center">
        <h1>Ferramenta</h1>
    </div>
</div>
 -->

<div class="row">
    <div class="col-sm-12">
        <div id="map"></div>
    </div>
</div>

{% endblock %}


{% block scripts %}
	<script src="/ferramenta/templates.js"></script> 
	
	<script src="/common/js/leaflet-0.7.3/leaflet-src.js"></script>
	<script src="/ferramenta/js/leaflet-easy-button.js"></script> 
	<script src="/ferramenta/js/leaflet-sidebar.js"></script> 
	<script src="/ferramenta/js/leaflet-providers_1.0.13.js"></script> 
	<script src="/ferramenta/js/leaflet.contextmenu-src.js"></script> 
	<script src="/ferramenta/js/turf.min.js"></script> 
	<script src="/ferramenta/js/chroma.min.js"></script> 

{#	<script src="/common/js/leaflet-0.7.3/leaflet-heat.js"></script> #}
	<script src="/common/js/heatmap.js"></script>
	<script src="/common/js/heatmap-leaflet.js"></script>
	<script src="/common/js/underscore.js"></script>
	<script src="/common/js/backbone.js"></script>
	<script src="/common/js/backbone.marionette.js"></script>
	<script src="/common/js/backbone.stickit.js"></script>
	<script src="/common/js/json2.js"></script>
	<script src="/common/js/q.js"></script>


    <script src="/common/js/nunjucks-slim.js"></script>

	<script src="/ferramenta/js/ferramenta.js"></script> 


{% endblock %}