{% extends "layouts/default.html" %}

{% block title %}Dashboard{% endblock %}



{% block content %}



	{#  ---------------------------------------  HEADER  ---------------------------------------  #} 

	{% include "includes/header_landing.html" %}

	{#  ---------------------------------------  /HEADER  ---------------------------------------  #} 





	<div class="row" >

		<div class="col-sm-12 text-center" >

			<h3>Mapa: ArqMadeira_AAd_CAOP2014</h3>
			<p>Por favor aguarde alguns instantes enquanto os dados são carregados.</p>
		</div>
	</div>


	<div class="row" >

		<div class="col-sm-10 col-sm-offset-1" id="map" style="margin-top:50px; margin-bottom:150px; ">


		</div>
	</div>




{% endblock %}


{% block scripts %}
	<script src="/common/js/jquery-1.11.2.js"></script>
	<script src="/common/js/leaflet-0.7.3/leaflet-src.js"></script>
	<script src="/common/js/leaflet-draw/leaflet.draw-src.js"></script>
	<script src="/common/js/underscore-1.6.0.js"></script>
	<script src="/common/js/backbone.js"></script>
	<script src="/common/js/backbone.marionette.js"></script>
	<script src="/common/js/backbone.stickit.js"></script>
	<script src="/common/js/json2.js"></script>
	<script src="/common/js/q-1.1.2.js"></script>
	<script src="/common/js/vulnerabilidades.js"></script>
{% endblock %}

    