
<div class="row" style="padding-top: 20px;">
	<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3" style="xborder: 1px solid green; ">

		<div class="row" style="">

			<div class="col-xs-3 col-sm-3" style="xborder: 1px solid red; ">
				<a href="http://drota.gov-madeira.pt/berilio/berwpag0.home" target="_blank">
					<img src="{{ ctx.texts[63][lang] }}" class="img-responsive center-block"></img>
				</a>
			</div>
			<div class="col-xs-3 col-sm-3" style="xborder: 1px solid red;">
				<a href="http://www.sim.ul.pt/cciam/"  target="_blank">
					<img src="{{ ctx.texts[64][lang] }}" class="img-responsive center-block"></img>
				</a>
			</div>
			<div class="col-xs-2 col-sm-2" style="xborder: 1px solid red;">
				<a href="http://www.fc.ul.pt/pt/unidade/funda%C3%A7%C3%A3o-da-faculdade-de-ci%C3%AAncias" target="_blank">
					<img src="{{ ctx.texts[65][lang] }}" class="img-responsive center-block"></img>
				</a>
			</div>

			<div class="col-xs-3 col-sm-3" style="xborder: 1px solid red; margin-left: 10px;">
				<a href="http://www.fc.ul.pt/" target="_blank">
					<img src="{{ ctx.texts[66][lang] }}" class="img-responsive center-block"></img>
				</a>
			</div>

		</div>


	</div>
</div>
