{% from "menuLeft/templates/list-group.html" import listGroup %}

{% for obj in items %}

<div class="panel panel-primary" style="border-radius: 0;">

    <div class="panel-heading" style="border-radius: 0;">
    	<span class="glyphicon {{ obj['panelIcon']}}" aria-hidden="true"></span>&nbsp;
        <a data-toggle="collapse" href="#{{ obj['panelCode'] }}">{{ obj['panelTitle'][ obj['lang'] ] }}</a>
    </div>

    <div class="panel-body" style="padding: 0; ">

    	{{ listGroup(obj['panelCode'], obj['panelItems']) }} 

    </div>


</div>

{% endfor %}

