<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{{ ctx.texts[1][lang] }}{% endblock %}</title>

    {% include "includes/stylesheets.html" %}

    {% block custom_css %}{% endblock %}

</head>

<body>

	<div class="container-fluid">

	    {% block content %}{% endblock %}

	    {% include "includes/footer.html" %}
  
	</div>

    {% block scripts %}{% endblock %}

</body>


</html>