<div class="modal-header">
    <h4 class="modal-title">Create new map from file {{ name }}</h4>
</div>


<div class="modal-body">
    <form>

        <div class="form-group">
            <label for="js-code">Code</label>
            <input type="text" id="js-code" class="form-control" name="js-code" >
        </div>

        <div class="form-group">
            <label for="js-title-pt">Title (português)</label>
            <input type="text" id="js-title-pt" class="form-control" name="js-title-pt" >
        </div>

        <div class="form-group">
            <label for="js-title-en">Title (english)</label>
            <input type="text" id="js-title-en" class="form-control" name="js-title-en" >
        </div>


        <div class="form-group">
            <label for="js-category-id">Category</label>
            <select name="js-category-id" class="form-control">

            {% for category in mapCategories %}
                <option value={{ category.id }}>{{ category.contents.pt }}</option>
            {% endfor %}
            
            </select>
        </div>


<!-- 
-->
        <div class="form-group">
            <label for="js-edit-name">Filename</label>
            <input type="text" id="js-edit-name" class="form-control" name="name" value="{{ name }}" disabled>
        </div>

        <div class="form-group">
            <label>Path</label>
            <input type="text" class="form-control" value="{{ path }}" disabled>
        </div>

        <div class="form-group">
            <label>Uploaded at</label>
            <input type="text" class="form-control" value="{{ uploadedAt }}" disabled>
        </div>

      <div class="form-group">
            <label>Owner</label>
            <input type="text" class="form-control" value="{{ ownerData.firstName }} {{ ownerData.lastName }}" disabled>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary js-modal-create-map">Create map</button>
    <button type="button" class="btn btn-default js-modal-cancel">Cancelar</button>

    <div id="message-status" style="margin-top: 35px;"></div>
    <div id="" style="margin-top: 10px;">
        <h5 id="message-links"></h5>
    </div>
</div>
