{% extends "layouts/general-page.html"          %}
{% from "macros/sectores/home_sector.html" import home_sector %} 

{% set data = {
    sectorName: "adaptacao", 
    title: 523,
    introParagraph: 524,
    restOfParagraph: 525
    } 
%}


{% block title %}{{ ctx.texts[15][lang] }} - {{ ctx.texts[96][lang] }}{% endblock %} 


{% block mainColumnContent %}

<div class="row">

    <div class="col-sm-12">
        <ol class="breadcrumb">
            <li><a href="#">Home</a>
            </li>
            <li>{{ ctx.texts[23][lang] }}
            </li>
            <li class="active">{{ ctx.texts[96][lang] }}</li>
        </ol>
    </div>
</div>

{{ home_sector(ctx, data) }}

{% endblock %} 


