{#  NOTE: lang is a global variable #}
{% extends "layouts/default.html"          %}
{% from "macros/navigation.html" import navigation %}
{# #} 
{% from "macros/sectores/home_sector.html" import home_sector %} 

{% set page_name = "sectores" %}
{% set sector_name = "agricultura-florestas" %}

{% block title %}{{ ctx.texts[15][lang] }} - agricultura e florestas{% endblock %} 


{% block navigation %}

{{ navigation(ctx, page_name, sector_name) }}

{% endblock %}

{% block content %}


<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2" style="margin-top: 20px;">

		{{ home_sector(ctx, 'agricultura-florestas') }}

    </div>
</div>

{#
<div class="row">
    <div class="col-sm-12 text-center">
		<h1>Agricultura e Florestas</h1>
    </div>
</div>
#}


{% endblock %}


