{% extends '../layouts/default.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}




{#  

BIODIVERSIDADE PAGE

The sector pages have the following sections

1) Header: logo (small), main menu, login button

2) Free section (to be created by the users)


 #} 
 

<div class="container-fluid" style="background-colorx: blue;">


	{#  ---------------------------------------  HEADER  ---------------------------------------  #} 

	{% include "../includes/header_landing.html" %}

	{#  ---------------------------------------  /HEADER  ---------------------------------------  #} 
</div>
