{#  NOTE: lang is a global variable #}
{% extends "layouts/default.html"          %}
{% from "macros/navigation.html" import navigation %}

{% set page_name = "sectores" %}
{% set sector_name = "energia" %}

{% block title %}{{ ctx.texts[15][lang] }} - Energia{% endblock %} 


{% block navigation %}

{{ navigation(ctx, page_name, sector_name) }}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12 text-center">
		<h1>Energia</h1>
    </div>
</div>



{% endblock %}


