<h5><b>Base layer</b></h5>



<div class="panel panel-default" style="padding: 0;">
    <div class="panel-heading">
        <b>Simple</b>
    </div>
    <div class="panel-body" style="padding: 0;">
        <div class="list-group" style="margin: 0;">
            <a href="#" class="list-group-item" style="border-radius: 0; border-left: none;">Hydda Base</a>
            <a href="#" class="list-group-item active" style="border-radius: 0; border-left: none;">Esri World Shaded Relief</a>
            <a href="#" class="list-group-item" style="border-radius: 0; border-left: none;">OSM Grayscale</a>
        </div>
    </div>
</div>

<div class="panel panel-default" style="padding: 0;">
    <div class="panel-heading">
        <b>Rivers</b>
    </div>
    <div class="panel-body" style="padding: 0;">
        <div class="list-group" style="margin: 0;">
            <a href="#" class="list-group-item" style="border-radius: 0; border-left: none;">Esri World Gray Canvas</a>
            <a href="#" class="list-group-item active" style="border-radius: 0; border-left: none;">Esri World Topo Map</a>
        </div>
    </div>
</div>
